# Gradle directories
.gradle/
**/build/
**/resources/
*.bin
*.lock
*.class
*.db
resources/
results/

# Gradle Wrapper (do not ignore these files)
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE-specific files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak
*.orig

# Java and compiled files
*.class
out/

# Environment files
# .env

# Node.js (if applicable)
node_modules/
dist/
